* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(49, 49, 49);
}

header {
    padding: 16px 0;
    background-color: black;
    color: #c8aa6e;
}

header h1,
header h1 ul {
    font-family: 'Exo 2', sans-serif;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav li a {
    color: #c8aa6e;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container,
.rrhaast, .rkayn,
.brhaast, .bkayn,
.social-links {
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
}

section .container h2,
section .container h3, section p,
#runas h2, #build h2,
.rrhaast h3, .rkayn h3,
.brhaast h3, .bkayn h3, #social h3, .rodape,
.insta, .gmail {
    margin: 32px;
    color: #c8aa6e;
    font-family: 'Exo 2', sans-serif;
}

.pqwer {
    list-style: none;
}

section .container p,
.rune p, .buld p, .nocoment {
    color: #8f8f8f;
    font-family: 'Arvo', serif;
}

h2, h3, section p,
#habilidades, .rodape, .nocoment {
    text-align: center;
}

#habilidades .container img,
video,
#biografia img { 
    max-width: 100%; 
}

.rrhaast, .rkayn {
    max-width: 50%;
}

.brhaast, .bkayn {
    max-width: 50%;
}

.rrhaast img, .rkayn img,
.brhaast img, .bkayn img {
    max-width: 500px;
}

.rune, .buld {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form input,
form textarea,
form button {
    background-color: #181818;
    color: white;
    display: block;
    width: 1000px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #181818;
    color: #ecf0f1;
    cursor: pointer;
}

.nocoment {
margin: 32px;
}

.social-links img {
    height: 60px;
}

.i {
    margin-left: 40%;
}

.g {
    margin-left: 39%;
}

.insta, .gmail {
    text-decoration: none;
}